---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Training">
  <div class="mx-auto max-w-5xl pt-4 px-6">
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Enter your Squat 1RM</span>
      </div>
      <input
        type="number"
        placeholder="Squat 1RM"
        class="input input-bordered w-full max-w-xs"
      />
    </label>
  </div>

  <p id="output"></p>
</Layout>

<!-- <script>
import { number } from "astro:schema";

  let input = "";

  function handleInput(event: Event) {
    const target = event.target as HTMLInputElement;
    input = target.value;
    document.getElementById("output")!.innerText = "Do 10x50 with " + Number(input)*0.6;
  }

  document.querySelector("input")!.addEventListener("input", handleInput);
</script> -->
