---
import Layout from "../../layouts/Layout.astro";
import BlogSection from "../../page_sections/blog_section.astro";
---

<Layout title="Nick Hermann">
  <div class="mx-auto max-w-5xl pt-4 px-6">
    <BlogSection />
  </div>
</Layout>
