---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Badge } from '@/components/shadcn-ui/badge';
import '@/styles/styles.css'
---

<Layout title="Nickhrm">
	<main class="flex flex-col justify-center">
		<h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl text-center p-9" >Blog zu Functional Fitness und IT</h1>
		<Badge className="self-center">Neu</Badge>
	</main>
</Layout>

