---
import Layout from '../layouts/Layout.astro';
import { Badge } from '@/components/shadcn-ui/badge';
import '@/styles/styles.css';
import { getCollection } from 'astro:content';
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,} from '@/components/shadcn-ui/card';

const workouts = await getCollection('workouts');
---

<Layout title="Nickhrm">
	<main class="flex flex-col justify-center">
		<h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl text-center p-9">Blog zu Functional Fitness und IT</h1>
		<Badge className="self-center">Neu</Badge>
		{workouts.map((workout) => (
			<Card>
  				<CardHeader>
    				<CardTitle>Card Title</CardTitle>
    				<CardDescription>Card Description</CardDescription>
  				</CardHeader>
  				<CardContent>
    				<p>Card Content</p>
  				</CardContent>
  				<CardFooter>
    			<a href={"/workouts/"+ workout.slug}>Go To Workout</a>
  				</CardFooter>
			</Card>
		))}
	</main>
</Layout>
