---
import BlogCard from '@/components/BlogCard.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import { badgeVariants } from '@/components/ui/badge'
import { buttonVariants } from '@/components/ui/button'
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { Icon } from 'astro-icon/components'


const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)


const tags = blog
  .flatMap((post) => post.data.tags)
  .filter((tag, index, self) => self.indexOf(tag) === index)
---

<Layout title="Home" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <section>
      <h1 class="text-3xl font-bold text-center">
        Programs and Resources for Hybrid Athletes
      </h1>
      <h2 class="text-center">
        All About Hybrid Training, Hyrox, Functional Fitness, Strength, Recovery, Progress
      </h2>
    </section>
    <section>
      <div class="flex flex-col gap-4">
        <div class="flex flex-wrap gap-2">
          {
            tags.map((tag) => (
              <Link
                href={`/tags/${tag}`}
                class={badgeVariants({ variant: 'secondary' })}
              >
                <Icon name="lucide:hash" class="size-3 -translate-x-0.5" />
                {tag}
              </Link>
            ))
          }
        </div>
      </div>
    </section>
    <section class="flex flex-col gap-y-4">
      <ul class="not-prose flex flex-col gap-y-4">
        {
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center">
        <Link
          href="/blog"
          class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
          See all posts <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Link>
      </div>
    </section>
  </Container>
</Layout>
