---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Kontakt">
  <div class="mx-auto max-w-5xl pt-4 px-6 prose">
    <h1>Kontakt</h1>
    <p>Ich freue mich über jede Nachricht. Schreib mir einfach eine E-Mail an <a href="mailto:kontakt@nickhrm.de">Mail</a>
    </p>