---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
interface Props {
  link: CollectionEntry<"links">;
  isPrimary: boolean;
}

const { link, isPrimary } = Astro.props;
---

<a href={link.data.url}>
  <Image
        class="object-contain w-[24px] h-[24px] "
        src={link.data.icon}
        alt={link.data.text}
        loading="eager"
      />
</a>
