---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
interface Props {
  link: CollectionEntry<"links">;
  isPrimary: boolean;
}

const { link, isPrimary } = Astro.props;
---

<a href={link.data.url}>
  <button class={(isPrimary ? "btn btn-primary" : "btn") + " w-full"}>
    <div class="flex flex-row w-full justify-between align-middle ">
        
        <Image
        class=" object-contain w-6 h-6"
        src={link.data.icon}
        alt={link.data.text}
        loading="eager"
      />

      <p class="no-underline">{link.data.text}</p>

      <div class="w-[24px]"></div>
    </div>
  </button>
</a>
