




<div class="bg-base-200 h-[100vh] w-full flex justify-center align-middle">
  <div
    class="flex flex-col w-full max-w-5xl justify-center items-center h-full px-6"
  >
    <img
      class="rounded-full h-40 w-40 lg:h-60 lg:w-60"
      src="profilbild.jpg"
      alt="Nick Hermann"
    />
    <div class="h-10"></div>

    <h1 class="text-5xl lg:text-6xl font-bold text-center">Nick Hermann</h1>
    <p class="py-6 text-center">
      Ich bin Softwareentwickler und Produktdesigner aus Hannover. Meine Stärken
      liegen in der visionierung und Entwicklung von nutzerfreundlichen Apps und
      Websiten.
    </p>
  </div>
</div>
