---
import { hr } from "date-fns/locale";

//create navlinks

const navlinks = [
  { href: "/blog", text: "Blog" },
  { href: "/projekte", text: "Projekte" },
  { href: "/lebenslauf", text: "Lebenslauf" },
  { href: "training", text: "Training" },
];
---

<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    
    <a class="btn btn-ghost text-xl" href="/">Nick Hermann</a>
  </div>

  <div class="navbar-end">
    <a class="btn btn-primary" href="/kontakt">Kontakt aufnehmen</a>
  </div>
</div>
