---

import type { CollectionEntry } from 'astro:content';
interface Props {
  project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
---


<div class="card card-bordered shadow-sm">
    <div class="card-body">
      <h3 class="card-title">{project.data.title}</h3>
      <h4 class=" ">{project.data.description}</h4>
      <div class="card-actions">
        {project.data.tags.map((tag) => (
          <div class="badge badge-secondary">{tag}</div>
        ))}
      </div>
    </div>
  </div>