---

import type { CollectionEntry } from 'astro:content';
interface Props {
  vita: CollectionEntry<'vita'>;
}
import { Image } from "astro:assets";
const { vita } = Astro.props;
---



<div class="card card-bordered mb-3 ">
  <div class="h-3"></div>
    <figure>
      <Image
        class="h-20 object-contain"
        src={vita.data.image}
        alt={vita.data.title}
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">{vita.data.title}</h2>
      <p>{vita.data.endDate + " - " + vita.data.startDate}</p>
    </div>
  </div>