---
import { getCollection } from "astro:content";

const blogentries = await getCollection("blog");
---


<!-- Titel -->
<div class="flex justify-center m-6">
  <div class="w-full max-w-5xl grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 ">
    {
      blogentries.map((entry, index) => (
        <div class="card bg-base-100 shadow-lg blog-card">

          <div class="card-body justify-start">
            <p class="">{entry.data.date.trim()}</p>

            <h2 class="card-title">{entry.data.title}</h2>
            <div class="gap-3 flex-wrap flex my-2" >
              {entry.data.tags.map((tag) => (
              <span class="badge badge-primary">{tag}</span>
            ))}
            </div>
            <div class="card-actions justify-end">
              <a href={`/blog/${entry.slug}`} class="btn btn-ghost">
                
Read More
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
