---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="mx-auto max-w-[1080px] pt-4 px-3">
		<slot />

		<footer class="text-center text-gray-500 text-sm my-4">
			<p>
				© 2024 Nick Hermann. All rights reserved.
			</p>
			<p>kontakt@nickhrm.de</p>
	</body>
</html>
